<div id="content" role="main">
    <section class="section swatch-blue-white">
        <div class="container">
            <header class="section-header no-underline">
                <h1 class="headline hyper hairline">Screencasts</h1>
            </header>
        </div>
    </section>
    <section class="section swatch-white-blue has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                	<% @videos.each do |video| %>
	                    <article class="post post-showinfo">
	                        <div class="post-head small-screen-center">
	                            <h2 class="post-title">
	                            	<%= link_to video.title, video %>
	                            </h2>
	                            <small class="post-date">
	                            	<%= video.created_at.strftime('%A, %B %d') %>
	                            </small>
	                            <div class="post-icon flat-shadow flat-hex">
	                                <div class="hex hex-big">
	                                    <i class="fa fa-file-text"></i>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="post-body">
	                            <%= link_to "watch screencast", video %>
	                        </div>
	                    </article>
                    	<hr>
                    <% end %>
                    <div class="text-center post-showinfo">
                        <%= will_paginate @videos %>
                    </div>
                </div>
                <aside class="col-md-3 sidebar">
                    <div class="sidebar-widget widget_search">
                        <form>
                            <div class="input-group">
                                <input class="form-control" placeholder="search" type="text">
                                <span class="input-group-btn">
                                	<button class="btn" type="submit">
                                		<i class="fa fa-search"></i>
                                	</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-widget widget_recent_entries">
                        <h3 class="sidebar-header">Recent screencasts</h3>
                        <ul>
                        	<% @videos.each do |video| %>
	                            <li>
	                                <div class="post-icon">
	                                    <i class="fa fa-file-text"></i>
	                                </div>
	                                <%= link_to video.title, video %>
	                                <small><%= video.created_at.strftime('%A, %B %d') %></small>
	                            </li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="sidebar-widget widget_oxy_twitter">
                       <%= render 'shared/tweets' %>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>