<div class="wrapper wrapper_padding clearfix">
  <section class="section swatch-blue-white">
      <div class="background-media" style="background-image: url(<%= asset_path 'RT-BG.png' %>) ; background-repeat: ; background-size: ; background-attachment: ; background-position: ; background-size: cover;" data-start="background-position: 50% 0px"
      data-top-bottom="background-position: 50% -200px">
      </div>
      <!-- <div class="background-overlay" style="background-color:rgba(40,57,65,0.8)"></div> -->
      <div class="container" style="height: 360px;">
         <!--  <header class="section-header underline">
              <h1 class="headline hyper hairline"></h1>
          </header> -->
      </div>
  </section>
  <section class="section swatch-white-blue has-top">
    <div class="decor-top">
        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
        </svg>
    </div>
    <div class="container">
      <header class="section-header underline">
          <h1 class="headline super hairline">Articles and Screencasts</h1>
          <p class=""><%= @user.about %></p>
      </header>
      <div class="row">
        <div class="col-md-9">
          <% @posts.each do |post| %>
              <article class="post post-showinfo">
                  <div class="post-head small-screen-center">
                      <h2 class="post-title">
                        <%= link_to post.title, post %>
                      </h2>
                      <small class="post-date">
                        <%= post.created_at.strftime('%A, %B %d') %>
                      </small>
                      <div class="post-icon flat-shadow flat-hex">
                          <div class="hex hex-big">
                              <% if post.link.present? %>
                                <i class="fa fa-video-camera"></i> 
                              <% else %>
                                <i class="fa fa-file-text"></i>
                              <% end %>         
                          </div>
                      </div>
                  </div>
                  <div class="post-body">
                      <p>
                        <%= truncate post.content, length: 200 %>
                      </p>
                      <%= link_to "read more", post %>
                  </div>
              </article>
              <hr>
            <% end %>
            <div class="text-center post-showinfo">
            </div>
        </div>
        <aside class="col-md-3 sidebar">
            <div class="sidebar-widget widget_search">
              <%= form_tag(posts_path, :method => "get") do %>
                <div class="input-group">
                  <%= text_field_tag :search, params[:search], :class => "form-control", placeholder: "Search Posts" %>
                  <span class="input-group-btn">
                    <%= button_tag(type: "submit", class: "btn") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="sidebar-widget widget_recent_entries">
                <h3 class="sidebar-header">Recent posts</h3>
                <ul>
                  <% @posts.each do |post| %>
                      <li>
                          <div class="post-icon">
                              <% if post.link.present? %>
                                <i class="fa fa-video-camera"></i> 
                              <% else %>
                                <i class="fa fa-file-text"></i>
                              <% end %>
                          </div>
                          <%= link_to post.title, post %>
                          <small><%= post.created_at.strftime('%A, %B %d') %></small>
                      </li>
                    <% end %>
                </ul>
            </div>
            <div class="sidebar-widget widget_oxy_twitter">
                <%= render 'shared/tweets' %>
            </div>
        </aside>
    </div>
    </div>
  </section>
</div>