<div id="content" role="main">
	<section class="section swatch-blue-white">
	    <div class="container">
	        <header class="section-header text-center underline">
	            <h1 class="headline hyper hairline">Our Work</h1>
	        </header>
	        <div class="row">
	            <div class="text-default os-animation">
	                <div class="portfolio isotope magnific-all no-transition portfolio-hex portfolio-shadows row">
	                    <% @projects.each do |project| %>
		                    <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image">
		                        <figure class="portfolio-figure">
		                            <a href="portfolio-item-big.html">
		                                <%= image_tag(project.image_url, :class => "img-responsive", width: "600", height: "518" ) %>
		                            </a>
		                            <figcaption>
		                                <h4>
		                                	<%= link_to project.title, project %>
		                                </h4>
										<small>
		                                  <%= project.created_at.strftime('%A, %B %d') %>
		                                </small>
		                                <p><%= truncate project.description, length:75 %></p>
		                                <%= link_to project, :class => "link" do %>
		                                    <i class="fa fa-link"></i>
		                                <% end %>
		                            </figcaption>
		                        </figure>
		                    </div>
	                    <% end %>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<section class="section swatch-white-blue has-top">
	    <div class="decor-top">
	        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
	            <path d="M0 100 L50 0 L100 100" stroke-width="0"></path>
	        </svg>
	    </div>
	    <div class="container">
	        <header class="section-header underline">
	            <h1 class="headline super hairline">Have an idea?</h1>
	            <p class="">Contact us with ideas for new projects, videos, articles and more...</p>
	        </header>
	        <div class="text-center">
	            <%= link_to new_contact_path, :class => "btn btn-primary btn-lg btn-icon-right pull-center" do %>
					Lets make it happen
					<div class="hex-alt hex-alt-big">
					<i class="fa fa-rocket" data-animation="tada"></i>
					</div>
				<% end %>
	        </div>
	    </div>
	</section>
</div>


