<div id="content" role="main">
    <section class="section swatch-white-blue">
        <div class="container">
            <div class="text-center small-screen-center portfolio-header">
                <h1 class="headline super hairline"><%= @project.title %></h1>
            </div>
            <% if @project.image_url.present? %>
                <figure class="portfolio-figure">
                    <%= image_tag(@project.image_url) %>
                </figure>
            <% end %>
            <div class="row">
                <div class="col-md-9">
                    <small><%= @project.created_at.strftime('%A, %b %d') %></small>
                    <p class="lead">
                        <%= markdown @project.description %>
                    </p>
                    <% if user_signed_in? %>
					  <div id="admin_links">
					  	<%= link_to "Edit", edit_project_path(@project) %>
					    <%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>
					  </div>
					<% end %>
                </div>
                <div class="col-md-3">
                    <% if @project.link.present? %>
                        <a class="portfolio-url overlay" href="<%= @project.link %>">
                            <span class="overlay">URL</span>
                            <%= @project.link %>
                        </a>
                    <% end %>
                    <%= render 'shared/social_share_project' %>
                </div>
            </div>
        </div>
    </section>
</div>
