<div id="content" role="main">
    <section class="section swatch-white-blue">
        <header class="section-header underline">
          <h1 class="headline super hairline">Articles and Screencasts</h1>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                	<% if @posts.present? %>
                        <% @posts.each do |post| %>
    	                    <article class="post post-showinfo">
    	                        <div class="post-head small-screen-center">
    	                            <h2 class="post-title">
    	                            	<%= link_to post.title, post %>
    	                            </h2>
    	                            <small class="post-date">
    	                            	<%= post.created_at.strftime('%A, %B %d') %>
    	                            </small>
    	                            <div class="post-icon flat-shadow flat-hex">
    	                                <div class="hex hex-big">
    	                                    <% if post.link.present? %>
                                              <i class="fa fa-video-camera"></i> 
                                            <% else %>
                                              <i class="fa fa-file-text"></i>
                                            <% end %> 
    	                                </div>
    	                            </div>
    	                        </div>
    	                        <div class="post-body">
    	                            <p>
    	                                <%= truncate post.content, length: 200 %>
    	                            </p>
    	                            <% if post.link.present? %>
                                        <%= link_to "Watch Screencast" %>
                                    <% else %>
                                        <%= link_to "Read More", post %>
                                    <% end %>
    	                        </div>
    	                    </article>
                        	<hr>
                        <% end %>
                        <div class="text-center post-showinfo">
                            <%= will_paginate @posts %>
                        </div>
                    <% else %>
                          <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
                    <% end %>
                </div>
                <aside class="col-md-3 sidebar">
                    <%= render 'shared/search_bar' %>
                    <%= render 'shared/recent_posts' %>
                    <%= render 'shared/tweets' %>
                </aside>
            </div>
        </div>
    </section>
</div>
