<!DOCTYPE html>
<html>
  <head>
    <title>Hunter Nix - Marketing Technologist</title>
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="pace-on pace-dot">
    <div class="pace-overlay"></div>
    <header id="masthead" class="navbar navbar-sticky swatch-white-black" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("rails-thoughts.png"), root_path, class: "navbar-brand" %>
            </div>
            <nav class="collapse navbar-collapse main-navbar" role="navigation">
                <div class="sidebar-widget widget_search pull-right">
                    <%= form_tag(posts_path, :method => "get") do %>
                      <div class="input-group">
                          <%= text_field_tag :search, params[:search], :class => "form-control", placeholder: "Search Posts" %>
                          <span class="input-group-btn">
                            <%= button_tag(type: "submit", class: "btn") do %>
                              <i class="fa fa-search"></i>
                            <% end %>
                          </span>
                      </div>
                    <% end %>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%= link_to "Articles & Videos", posts_path %>
                    </li>
                    <li>
                        <%= link_to "Projects", projects_path %>
                    </li>
                    <li>
                        <%= link_to "Contact", new_contact_path %>
                    </li>
                    <% if user_signed_in? %>
                      <li>
                        <%= link_to "Profile", current_user %>
                      </li>
                      <li>
                        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                      </li>
                    <% end %>         
                </ul>
            </nav>
        </div>
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

  <%= yield %>

  <footer id="footer" role="contentinfo" class="footer-section">
      <section class="section swatch-white-blue">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <div id="swatch_social-2" class="widget_swatch_social">
                          <ul class="unstyled inline small-screen-center social-icons social-background social-big">
                              <li>
                                  <a target="_blank" href="https://twitter.com/NixMediaGroup">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </li>
                              <li>
                                  <a target="_blank" href="https://github.com/HNIX">
                                      <i class="fa fa-github"></i>
                                  </a>
                              </li>
                              <li>
                                  <%= link_to new_user_session_path do %>
                                    <i class="fa fa-sign-in"></i>
                                  <% end %>
                              </li>
                          </ul>
                      </div>
                      <div id="text-4" class="widget_text">
                          <div class="textwidget">Hunter Nix 2015 ALL RIGHTS RESERVED
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </footer>
  <a class="go-top hex-alt" href="javascript:void(0)">
    <i class="fa fa-angle-up"></i>
  </a>
    <%= javascript_include_tag 'packages.min' %>
    <%= javascript_include_tag 'theme.min' %>
    <%= javascript_include_tag 'jquery.ui.widget' %>
    <%= javascript_include_tag 'jquery.fileupload' %>
    <script type="text/javascript">
      $(function() {
      $('.directUpload').find("input:file").each(function(i, elem) {
        var fileInput    = $(elem);
        var form         = $(fileInput.parents('form:first'));
        var submitButton = form.find('input[type="submit"]');
        var progressBar  = $("<div class='bar'></div>");
        var barContainer = $("<div class='progress'></div>").append(progressBar);
        fileInput.after(barContainer);
        fileInput.fileupload({
          fileInput:       fileInput,
          url:             form.data('url'),
          type:            'POST',
          autoUpload:       true,
          formData:         form.data('form-data'),
          paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
          dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
          replaceFileInput: false,
          progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            progressBar.css('width', progress + '%')
          },
          start: function (e) {
            submitButton.prop('disabled', true);

            progressBar.
              css('background', 'green').
              css('display', 'block').
              css('width', '0%').
              text("Loading...");
          },
          done: function(e, data) {
            submitButton.prop('disabled', false);
            progressBar.text("Uploading done");

            // extract key and generate URL from response
            var key   = $(data.jqXHR.responseXML).find("Key").text();
            var url   = '//' + form.data('host') + '/' + key;

            // create hidden field
            var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
            form.append(input);
          },
          fail: function(e, data) {
            submitButton.prop('disabled', false);

            progressBar.
              css("background", "red").
              text("Failed");
          }
        });
      });
    });
  </script>
  </body>
</html>
